<% provide(:title, 'O projekte') %>
<ul class="breadcrumb">
  <li><%= link_to 'Domov', root_path %> <span class="divider">/</span></li>
  <li class="active">O projekte</li>
</ul>
<div class="page-header"><h1>O projekte</h1></div>
<div class="span8 offset2">
  <p>
    V dnešnej hektickej, uponáhľanej dobe sa každý človek snaží ušetriť čo najviac času. Ľudia sú čoraz viac ľahostajní
    k výberu svojho jedla a jedálneho lístka. Rozhodujú sa podľa akcií diktovanými supermarketmi. Jedávame umelú stravu,
    ktorá sa skladá hlavne z cukrov a tukov a obsahuje čoraz menej iných dôležitých látok.
    </br></br>Jednou z hlavných príčin telesného aj psychického zdravia je vyvážená strava a dostatok minerálov,
    vitamínov
    a biogénnych prvkov. Napríklad dnešné jablká obsahujú o 50% menej horčíka, ktorý je dôležitý pre správnu činnosť
    svalov a nervov, ale aj pre uvoľňovanie energie z glukózy a pre správnu stavbu kostí.
    </br></br>Práve z dôvodu nedostatku minerálov a vitamínov v našej bežnej strave som sa rozhodol,
    že vo svojej bakalárskej
    práci sa budem venovať problému výživy. Tento problém by som rád vyriešil vývojom webovej a mobilnej aplikácie,
    ktorá bude užívateľovi poskytovať informácie o skladbe a vyváženosti jeho stravy, odporúčať a pomáhať pri dodržovaní
    zásad správnej životosprávy a sledovať vplyv stravy na spokojnosť a zdravie užívateľa.
  </p></div>