<% provide(:title, "Novinky") %>
<ul class="breadcrumb">
  <li><%= link_to 'Domov', root_path %> <span class="divider">/</span></li>
  <li class="active">Novinky</li>
</ul>
<div class="page-header"><h1>Novinky</h1></div>
<div class="center">
  <p>04. Apríla 2013 - Vznik alpha verzie stránky, prihlasovanie užívateľa, 28 jedál v databáze</p>

  <p>13. Apríla 2013 - Stránka pripravená na prvé odovzdanie na predmete Databázové systémy, hotové 3 scenáre </p>
  <ul class="icons" style="list-style-type: none;text-align:left;margin:auto;width: 450px;">
    <li><i class="icon-ok"></i> Registrácia, prihlásenie používateľa, editácia</li>
    <li><i class="icon-ok"></i> Vloženie jedla do databázy zaradenie do kategórie a typu jedla</li>
    <li><i class="icon-ok"></i> Priradenie receptov, tipov a iných informácií ku jedlu</li>
    <li><i class="icon-ok"></i> Vyhľadávanie, zdielanie menu, príprava na odovzdanie projektu na hodnotenie</li>

  </ul>
</div>