<% provide(:title, 'Registrácia') %>
<div class="page-header"><h1>Registrácia</h1></div>
<div class="row">
  <div class="center">
    <div class="offset4
       span4">
      <div class="form-actions">
        <%= render 'form' %>
      </div>
      <br/>
    </div>
  </div>
</div>

