<div class="span3">
  <div class="tabs-left">
    <ul class="nav nav-list nav-tabs">
      <li class="nav-header">Jedálne lístky</li>
      <li><%= link_to 'Zobraz jedálne lístky', menus_path, class: "btn-large" %> </li>
      <li><%= link_to 'Vytvor jedálny lístok', new_menu_path, class: "btn-large" %> </li>

      <li class="nav-header">Zaujímavosti</li>
      <li><%= link_to 'Štatistiky', statistic_path, class: "btn-large" %> </li>
      <li><%= link_to 'Prvky', elements_path, class: "btn-large" %> </li>

    </ul>
  </div>
</div>

